footer{
    background-color: nth($colores, 3 ) ;
    @extend %display-flex;
    justify-content: space-around;
    align-items: center;}

.textoFooter{
    width: 30%;
    display: flex;
    @media only screen and (max-width: 1023px){
        margin: 2px;
        
    }
}
.textoDesktopFooter{
    @media  only screen and (max-width: 1023px) {
        display: none;
    }
}
.textoCeluTabletFooter{
    display: none;
    @media only screen and (max-width: 1023px){
        display: flex;
        
    }
}
.imagenFacebook{
    display: inline-block;
   @media only screen and (max-width: 768px) {
    display: block;
   } 
}

.mapa{margin-top: 1%;
margin-bottom: 1%;}
